<div class="row-container list-unstyled clearfix">
  <div class="row-left">
    <a href="{{ product.url | within: collection }}" class="hoverBorder container_item"> 
      <div class="hoverBorderWrapper">
        {% for image in product.images %}
        {% endfor %}
        {% capture number_of_images %}{{ product.images | size }}{% endcapture %}
        {% assign number_images = number_of_images | plus:0 %}
        <img src="{{ product.featured_image | product_img_url: 'small' }}" class="{% if settings.product_item_effect != 'rotation' %}not-rotation{% endif %} img-responsive front" alt="{{ product.featured_image.alt | escape }}" />
        <div class="mask"></div>
        {% if number_images > 1 and settings.product_item_effect == 'rotation' %}
        <span class="hidden-sm hidden-xs back">
          <img src="{{ product.images[1]| product_img_url: 'small' }}" class="rotation img-responsive" alt="{{ product.images[1].alt | escape }}" />    
        </span>
        {% endif %}
      </div>        
    </a>      
  </div>

  <div class="row-right animMix" style="padding-left: 10px; padding-right: 10px;">
    <div class="collec-title">
      {% for collection in product.collections %}
      <a href="{{collection.url}}">{{ collection.title }}</a>
      {% break %}
      {% endfor %}
    </div>
    <div class="product-title"><a class="title-5" href="{{ product.url | within: collection }}">{{ product.title }}</a></div>
    <div class="rating-star">
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    </div>
    <div class="product-price">
      {% if product.available %}
      {% if product.compare_at_price_max > product.price %}

      {% assign found_one_in_stock = false %}
      {% for variant in product.variants %}
      {% if variant.available and variant.compare_at_price and found_one_in_stock == false %}
      {% assign found_one_in_stock = true %}

      <span class="price_sale">{{ variant.price | money }}</span>
      <del class="price_compare"> {{ variant.compare_at_price | money }}</del>

      {% endif %}
      {% endfor %}

      {% if found_one_in_stock == false %}
      {% for variant in product.variants %}
      {% if variant.available and found_one_in_stock == false %}
      {% assign found_one_in_stock = true %}
      <span class="price">
        {{ variant.price | money }}
      </span>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% else %}
      <span class="price">
        {% if product.price_varies %} 
        {{ product.price | money }}
        {% else %}
        {{ product.price | money }}
        {% endif %}
      </span>
      {% endif %}  
      {% else %}
      <span class="sold_out">Sold Out</span>
      {% endif %}
    </div>  
    <div class="avaibale-variants">
      <div class="color-avai clearfix">
        <!-- show color swatches avaiable -->      
        {% for option in product.options %}
        {% if option == 'Color' %}
        {% assign index = forloop.index0 %}
        {% assign colorlist = '' %}
        {% assign color = '' %}
        {% for variant in product.variants %}
        {% capture color %}
        {{ variant.options[index] }}
        {% endcapture %}
        {% unless colorlist contains color %}
        <img src="{{ color | downcase | strip_newlines | strip_html | remove: ' ' | append: '.png' | asset_url }}"
             alt="{{ color }}" width="16" height="16" />
        {% capture tempList %}
        {{colorlist | append: color | append: ' '}}
        {% endcapture %}
        {% assign colorlist = tempList %}
        {% endunless %}
        {% endfor %}
        {% endif %}
        {% endfor %}   
      </div>
    </div>
    <div class="list-mode-description {% if template == 'index' %}hide{% endif %}">
      {{ product.description | strip_html | truncatewords: 150 }}
    </div>
    <div class="grid-mode-description {% if template == 'index' %}hide{% endif %}">
      {{ product.description | strip_html | truncatewords: 20 }}
    </div>
  </div>   
</div> 
