<section class="footer-logo-block">
  <div class="footer-logo-wrapper">
  	<div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="footer-logo-content">
            <!-- <h1><a href="/"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" /></a></h1> ja remove-->
          </div>
        	<div class="fi-follow-content">
            	<ul class="credit-cards clearfix">
                    {% if settings.accept_shopify %}<li><img src="{{ 'icon-shopifypayments.png' | asset_url }}" alt="Shopify Payments" /></li>{% endif %}  
                  	{% if settings.accept_paypal %}<li><img src="{{ 'icon-paypal.png' | asset_url }}" alt="PayPal" /></li>{% endif %}  
                  	{% if settings.accept_worldpay %}<li><img src="{{ 'icon-worldpay.png' | asset_url }}" alt="Worldpay" /></li>{% endif %}
                    {% if settings.accept_visa %}<li><img src="{{ 'icon-visa.png' | asset_url }}" alt="Visa" /></li>{% endif %}  
                  	{% if settings.accept_mastercard %}<li><img src="{{ 'icon-master.png' | asset_url }}" alt="MasterCard" /></li>{% endif %}
                    {% if settings.accept_maestro %}<li><img src="{{ 'icon-maestro.png' | asset_url }}" alt="Maestro" /></li>{% endif %}
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if settings.ft_newsletter_show %}
<section class="footer_newsletter-block">
  <div class="footer_newsletter_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
        <div class="footer_newsletter_inner">
          <div style="text-align:center"><i class="fa fa-2x fa-envelope-o"></i></div>
          <div class="footer-title"><h3><strong>Join</strong> Marbek's Exclusive Insider List</h3></div>
          <div class="footer_newsletter_content">
            <form action="{{ settings.mailing_list_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
              <input type="email" value="" placeholder="Enter your e-mail..." name="EMAIL" id="mail" /><input type="submit" class="btn newsletter" value="Join Now" name="subscribe" id="subscribe" />
            </form>
          </div>
        </div>
        </div>
        <div class="col-sm-6">
          <div class="footer_newsletter_inner">
            <div style="text-align:center"><i class="fa fa-2x fa-map-marker"></i></div>
          <div class="footer-title"><h3><strong>Locate</strong> A Stockist Near You</h3></div>
          <div class="footer_newsletter_content">
            <form action="/pages/store-locator" method="get" id="mc-embedded-location-form" name="mc-embedded-location-form">
              <input type="text" value="" placeholder="Enter your post code..." name="postcode" id="postcode" /><input type="submit" class="btn newsletter" value="Search" name="join" id="join" />
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

<section class="footer_info-block">
  <div class="footer_info_wrapper">
    <div class="container">
      <div class="row">
        
        <div class="footer_info_inner">
          <div class="footer_inf-content">
            {% if settings.footer_links_active %}
              <div class="col-sm-3 col-xs-6">
                <h3>{{settings.footer_links1_title}}</h3>
                <ul>
                {% for link in linklists[settings.footer_links1].links %}
                  <li><a href="{{ link.url }}">{{ link.title}}</a></li>
                {% endfor %}
                </ul>
              </div>
            <div class="col-sm-3 col-xs-6">
                <h3>{{settings.footer_links2_title}}</h3>
                <ul>
                {% for link in linklists[settings.footer_links2].links %}
                  <li><a href="{{ link.url }}">{{ link.title}}</a></li>
                {% endfor %}
                </ul>
              </div>
            <div class="col-sm-3 col-xs-6">
                <h3>{{settings.footer_links3_title}}</h3>
                <ul>
                {% for link in linklists[settings.footer_links3].links %}
                  <li><a href="{{ link.url }}">{{ link.title}}</a></li>
                {% endfor %}
                </ul>
              </div>
            <div class="col-sm-3 col-xs-6">
                <h3>{{ settings.fi_follow_title }}</h3>
                <div class="fi-follow-content">
                  <ul>
                    {% if settings.instagram_link != blank %}<li><a href="{{ settings.instagram_link }}" title="Instagram" target="_blank" class="icon-social instagram" ><i class="fa fa-instagram fa-lg"></i> Instagram</a></li>{% endif %}
                    {% if settings.facebook_link != blank %}<li><a href="{{ settings.facebook_link }}" title="Facebook" target="_blank" class="icon-social facebook" ><i class="fa fa-facebook-square fa-lg"></i> Facebook</a></li>{% endif %}
                  {% if settings.twitter_link != blank %}<li><a href="{{ settings.twitter_link }}" title="Twitter" target="_blank" class="icon-social twitter" ><i class="fa fa-twitter-square fa-lg"></i> Twitter</a></li>{% endif %}
                  {% if settings.google_link != blank %}<li><a href="{{ settings.google_link }}" title="Google+" target="_blank" class="icon-social google" data-toggle="tooltip" data-placement="top"><i class="fa fa-google-plus-square fa-lg"></i> Google+</a></li>{% endif %}
                  {% if settings.pinterest_link != blank %}<li><a href="{{ settings.pinterest_link }}" title="Pinterest" target="_blank" class="icon-social pinterest" data-toggle="tooltip" data-placement="top"><i class="fa fa-pinterest-p fa-lg"></i> Pinterest</a></li>{% endif %}            
                  {% if settings.youtube_link != blank %}<li><a href="{{ settings.youtube_link }}" title="Youtube" target="_blank" class="icon-social youtube" ><i class="fa fa-youtube-play fa-lg"></i> YouTube</a></li>{% endif %}
                  
                 
                  {% if settings.vimeo_link != blank %}<li><a href="{{ settings.vimeo_link }}" title="Vimeo" target="_blank" class="icon-social vimeo" data-toggle="tooltip" data-placement="top"><i class="fa fa-vimeo-square fa-lg"></i> Vimeo</a></li>{% endif %}
                  {% if settings.tumblr_link != blank %}<li><a href="{{ settings.tumblr_link }}" title="Tumblr" target="_blank" class="icon-social tumblr" data-toggle="tooltip" data-placement="top"><i class="fa fa-tumblr fa-lg"></i> Tumblr</a></li>{% endif %}
                  </ul>
                </div> 
              </div>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="copy-right">
  <div class="copy-right-wrapper">
    <div class="container">
      <div class="row">
        <div class="copy-right-inner">
          <div class="left-copyright">
            &copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }} - All Rights Reserved
            <script src="//pmetrics.performancing.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(26055); }catch(e){}</script>
<noscript><p><img alt="Performancing Metrics" width="1" height="1" src="//pmetrics.performancing.com/26055ns.gif" /></p></noscript>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>