{% if settings.general_top_banner_active %}
<section class="top-banner page_banner_show">  
  <img src="{{ 'general_top_banner.jpg' | asset_url }}" alt="{{ page.title | escape }}" />
</section>
{% endif %}

<section class="register-heading">
  <div class="register-heading-wrapper">
    <div class="container">
      <div class="row">
        <div class="register-heading-inner">
          <h1 class="page-title">{{ 'customer.register.title' | t }}</h1>
          <div class="breadcrumb clearfix">
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            <span class="arrow-space">&#62;</span>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="/account/register" title="{{ 'customer.register.title' | t }}">{{ 'customer.register.title' | t }}</a>
            </span>              
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="register-content">
  <div class="register-wrapper">
    <div class="container">
      <div class="row">
        <div class="register-inner">
		  <div id="customer-register">
            <div id="register" class="span12">              
                {% form 'create_customer' %}

                  {{ form.errors | default_errors }}

                  <div id="first_name" class="clearfix large_form">
                    <label for="first_name" class="label">{{ 'customer.register.first_name' | t }}</label>
                    <input type="text" value="" name="customer[first_name]" id="first_name" class="text" size="30" />
                  </div>

                  <div id="last_name" class="clearfix large_form">
                    <label for="last_name" class="label">{{ 'customer.register.last_name' | t }}</label>
                    <input type="text" value="" name="customer[last_name]" id="last_name" class="text" size="30" />
                  </div>

                  <div id="email" class="clearfix large_form">
                    <label for="email" class="label">{{ 'customer.register.email' | t }}</label>
                    <input type="email" value="" name="customer[email]" id="email" class="text" size="30" />
                  </div>

                  <div id="password" class="clearfix large_form">
                    <label for="password" class="label">{{ 'customer.register.password' | t }}</label>
                    <input type="password" value="" name="customer[password]" id="password" class="password text" size="30" />
                  </div>

                  <div class="action_bottom">
                    <input class="btn" type="submit" value="{{ 'customer.register.submit' | t }}" /> {{ 'customer.general.or' | t }}
                    <span class="note"><a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a></span>
                  </div>

                {% endform %}

            </div><!-- #register -->
	      </div><!-- #customer-register -->
        </div>
      </div>
    </div>
  </div>
</section>
