<section class="customer-heading">
  <div class="customer-heading-wrapper">
    <div class="container">
      <div class="row">
        <div class="customer-heading-inner">
          <h1 class="title">{{ 'customer.reset_password.title' | t }}</h1>
          <div class="breadcrumb clearfix">
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            <span class="arrow-space">&#62;</span>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="{{ page.url }}" title="{{ 'customer.reset_password.title' | t }}">{{ 'customer.reset_password.title' | t }}</a>
            </span>              
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="customer-heading">
  <div class="customer-heading-wrapper">
    <div class="container">
      <div class="row">
        <div class="customer-heading-inner">
		  <div id="customer-reset-password">     
            {% form 'reset_customer_password' %}
            {{ form.errors | default_errors }}

            <label class="label" for="password">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="customer_password" class="text" size="16" />

            <label class="label" for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="text" size="16" />

            <div class="action_bottom">
              <input class="btn" type="submit" value="{{ 'customer.reset_password.submit' | t }}" />
            </div>
            {% endform %}
		  </div>
        </div>
      </div>
    </div>
  </div>
</section>
