{%- comment %}<locksmith:b312>{% endcomment -%}
  {%- include 'locksmith', locksmith_context: 'layout/start' %}{% capture locksmith_source -%}
{%- comment %}</locksmith:b312>{% endcomment -%}

<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
      	$m = $.noConflict(true);
		 window.pattern = /^(do|sv|ee|fi|fr|gd|gp|gg|hu|is|im|il|kz|ke|kg|la|mo|mk|mh|mq|ms|ma|nl|ne|ng|no|pw|py|pl|pt|kn|st|sc|sg|sk|za|sr|sj|th|to|tm|tc|uz|vu|vn|zm|af|al|as|ao|ai|an|ag|ar|as|bb|by|aq|bm|bq|bv|au|vg|bs|cv|bh|cf|bd|cn|be|co|ba|ci|bw|dk|bn|dm|bi|cd|cm|ec|ca|eg|td|gq|cx|er|cc|et|cr|eu|ga|gh|cy|gi|dj|gu|eu|gt|fk|gn|fo|gw|gf|hm|pf|hn|gm|iq|ge|ie|de|jm|gr|jp|in|ki|id|lr|je|mw|lv|my|ly|mu|li|yt|mv|mx|mc|mn|mz|nr|np|ni|nu|nf|pk|na|ph|oc|pn|om|qa|pg|re|pr|sh|ro|ru|rw|sm|bl|rs|pm|sx|vc|gs|sa|sd|sl|se|si|tj|tz|sb|tt|sa|tn|es|gb|lk|va|ch|zw|sy|tw|tl|tg|tr|um|vi|ug|us|uy|ve|af|ax|dz|ad|am|aw|at|az|bz|bj|bt|bo|br|io|bg|bf|kh|ky|cl|km|cg|ck|hr|cu|cw|cz|fj|tf|gl|gy|ht|hk|ir|it|jo|kw|lb|ls|lt|lu|mg|ml|mt|mr|fm|md|me|mm|na|nc|nz|kp|mp|ps|pa|pe|lc|mf|ws|sn|so|kr|ss|sz|tk|tv|ua|ae|wf|eh|ye|intl)$/;
      </script>
  {% if settings.use_favicon %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

  <title>
  {{ page_title }}{% if current_tags %} &ndash; {{ 'general.meta.tagged' | t }} "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t }} {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  {%- comment %}<locksmith:c022>{% endcomment -%}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="description" content="{{ page_description }}" />{% endif %}
    {%- comment %}original: <meta name="description" content="{{ page_description }}" />{%- endcomment %}
  {%- comment %}</locksmith:c022>{% endcomment -%}
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="canonical" href="{{ canonical_url }}" />

  {% include 'fb-open-graph-tags' %}
  {% include 'twitter-card' %}

  {{ 'social-buttons.scss.css' | asset_url | stylesheet_tag }}
   {{ 'mlveda-currencies-switcher-format.css' | asset_url | stylesheet_tag }}
  {% if settings.base_font == 'proxima-nova' %}
  <script src="https://use.typekit.net/ufc5nih.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  {% endif %}
  {% if settings.header_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.header_font | remove: 'Google+' }}:300,400,500,600,700">
  {% endif %}
  {% if settings.base_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.base_font | remove: 'Google+' }}:300,400,500,600,700">
  {% endif %}
  {% if settings.misc_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.misc_font | remove: 'Google+' }}:300,400,500,600,700">
  {% endif %}
  
  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
  {{ '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' | stylesheet_tag }}
  {% if template == 'product' or template == 'article' %}
  {{ 'social-buttons.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}

  {{ 'animate.min.css' | asset_url | stylesheet_tag }}
  {{ 'owl.carousel.css' | asset_url | stylesheet_tag }}    
  {{ 'cs-everything.global.scss.css' | asset_url | stylesheet_tag }} 
  {{ 'cs-everything.styles.scss.css' | asset_url | stylesheet_tag }}  
  
   {{ 'jquery.minicolors.css' | asset_url | stylesheet_tag }}
   {{ 'mlvedastyle.css' | asset_url | stylesheet_tag }}
   {{ 'nice-select.css' | asset_url | stylesheet_tag }}
  
  {{ 'html5shiv.js' | asset_url | script_tag }}

  {{ content_for_header }}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}
  {{ 'jquery-migrate-1.2.0.min.js' | asset_url | script_tag }}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  {{ 'scripts.js' | asset_url | script_tag }}
  {{ 'social-buttons.js' | asset_url | script_tag }}
  {{ 'jquery.flexslider-min.js' | asset_url | script_tag }}
  {% if settings.enable_product_image_zoom %}
  {{ 'jquery.zoom.js' | asset_url | script_tag }}
  {% endif %}
  {{ 'jquery.tweet.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox.js' | asset_url | script_tag }}
  {{ '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' | script_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js' | script_tag }}
  {{ 'imagesloaded.pkgd.min.js' | asset_url | script_tag }}
  {% if template == 'page.contact' and settings.contact_map %}
  {{ '//maps.google.com/maps/api/js?sensor=false' | script_tag }}
  {{ 'jquery.gmap.min.js' | asset_url | script_tag }}
  {% endif %}
  {{ 'jquery.minicolors.min.js' | asset_url | script_tag }}
  {{ 'jquery.nice-select.js' | asset_url | script_tag }}
  {{ 'mlvedascript.js' | asset_url | script_tag }}
<script>window.mlvedaShopCurrency = "{{ shop.currency }}";
window.shopCurrency = "{{ shop.currency }}";
window.supported_currencies = "{{ settings.supported_currencies }}";
</script>

  <script>
 	 $("<style type=\"text/css\">span.money{ display: none; }</style>").appendTo("head");
  </script>

<!-- spurit_dm-added -->
<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/shopify-apps/discount-manager/store/f87dd45b7a0f01b70cd795934264f1ba.css">
<!-- /spurit_dm-added -->

</head>

<body {% if template == "index" %}class="index-template"{% endif %}>
  {% if settings.general_loadingscreen %}
  <!-- Preloading -->
  <div id="loader-div">
    <div id="loader-wrapper">
      <div class="loading-div-logo">
        {% if settings.use_logo %}
        <h1><a href="/"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" /></a></h1>
        {% if template == 'index' %}
        <h1 style="display:none"><a href="/">{{ shop.name }}</a></h1>
        {% endif %}
        {% else %}
        <h1><a href="/">{{ shop.name }}</a></h1>
        {% endif %}
      </div>
      <div class="loader">
        <svg class="circular">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
      </div>
    </div>    
  </div>
  {% endif %}
  
  <!-- Header -->
  <header id="top" class="ev24 clearfix">
    {% include 'theme_header' %}    
  </header> 
  <div class="fix-sticky"></div>
  
  <!-- Main Content -->
  <div id="main-content" class="wrapper clearfix">           
    
{{ content_for_layout }}          
  </div>  

  <!-- Footer -->
  <footer>
    {% include 'theme_footer' %}
  </footer>
  
  <!-- Scroll to top -->
  {% if settings.general_gototop %}
    <div id="scroll-to-top" data-toggle="tooltip" data-placement="top" title="Scroll to Top">
      <i class="fa fa-angle-up"></i>
    </div>
  {% endif %}

  <!-- Newsletter Popup -->
  {% if settings.mailing_list_active %}
    {% include 'newsletter_popup' %}  
  {% endif %}
  
  <script type="text/javascript">
  	var index = 0;
    {% if template == 'index'%}index=1;{% endif %}
  </script>
  {{ 'modernizr.js' | asset_url | script_tag }}
  {{ 'classie.js' | asset_url | script_tag }}
  {{ 'jquery.smooth-scroll.min.js' | asset_url | script_tag }}  
  {{ 'jquery.bxslider.min.js' | asset_url | script_tag }}
  {{ 'owl.carousel.min.js' | asset_url | script_tag }}  
  {{ 'cs-everything.cart.js' | asset_url | script_tag }}
  {{ 'cs-everything.script.js' | asset_url | script_tag }}

  {% include 'quick-shop' %}
  {% include 'ajax-cart' %}
  {% include 'mlveda-currencies' %}
  {% include 'mlveda-multipricing-updateprice' %}
  
  
  {% comment %} Linked Product Options {% endcomment %}
  {{ 'linkOptionSelectors.js' | asset_url | script_tag }}  
{% include 'size-chart' %}

</body>
</html>


{%- comment %}<locksmith:2ce8>{% endcomment -%}
  {%- endcapture %}{% include 'locksmith', locksmith_context: 'layout/end' -%}
{%- comment %}</locksmith:2ce8>{% endcomment -%}