<section class="page-heading">
  <div class="page-heading-wrapper">
    <div class="container">
      <div class="row">
        <div class="page-heading-inner">
          <h1 class="page-title"><span>{{ page.title }}</span></h1>
          <div class="breadcrumb clearfix">
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            <span class="arrow-space">&#62;</span>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>
            </span>              
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-content">
  <div class="page-wrapper">
    <div class="container">
      <div class="row">
        <div class="page-inner">
          <div id="page">
            <div class="details">              
              {{ page.content }}
              <div class="content">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% if settings.faq-text1-head != "" %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="faq-icon"><i class="fa fa-question-circle"></i></span>
                        {{settings.faq-text1-head}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      {{settings.faq-text1-cont}}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if settings.faq-text2-head != "" %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <span class="faq-icon"><i class="fa fa-question-circle"></i></span>
                        {{settings.faq-text2-head}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      {{settings.faq-text2-cont}}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if settings.faq-text3-head != "" %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <span class="faq-icon"><i class="fa fa-question-circle"></i></span>
                        {{settings.faq-text3-head}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      {{settings.faq-text3-cont}}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if settings.faq-text4-head != "" %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <span class="faq-icon"><i class="fa fa-question-circle"></i></span>
                        {{settings.faq-text4-head}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                      {{settings.faq-text4-cont}}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if settings.faq-text5-head != "" %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <span class="faq-icon"><i class="fa fa-question-circle"></i></span>
                        {{settings.faq-text5-head}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                      {{settings.faq-text5-cont}}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if settings.faq-text6-head != "" %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <span class="faq-icon"><i class="fa fa-question-circle"></i></span>
                        {{settings.faq-text6-head}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                      {{settings.faq-text6-cont}}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if settings.faq-text7-head != "" %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingSv">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSv" aria-expanded="false" aria-controls="collapseSv">
                        <span class="faq-icon"><i class="fa fa-question-circle"></i></span>
                        {{settings.faq-text7-head}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSv" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSv">
                    <div class="panel-body">
                      {{settings.faq-text7-cont}}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if settings.faq-text8-head != "" %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading8">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                        <span class="faq-icon"><i class="fa fa-question-circle"></i></span>
                        {{settings.faq-text8-head}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                    <div class="panel-body">
                      {{settings.faq-text8-cont}}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if settings.faq-text9-head != "" %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading9">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                        <span class="faq-icon"><i class="fa fa-question-circle"></i></span>
                        {{settings.faq-text9-head}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                    <div class="panel-body">
                      {{settings.faq-text9-cont}}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if settings.faq-text10-head != "" %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading10">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                        <span class="faq-icon"><i class="fa fa-question-circle"></i></span>
                        {{settings.faq-text10-head}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                    <div class="panel-body">
                      {{settings.faq-text10-cont}}
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
              <script>
                 jQuery(function ($) {
                    var $active = $('#accordion .panel-collapse.in').prev().addClass('active');
                    $('#accordion').on('show.bs.collapse', function (e) {
                        $('#accordion .panel-heading.active').removeClass('active');
                        $(e.target).prev().addClass('active');
                    })
                });
              </script>  
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

